.container {
    max-width: 428px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 300px) and (max-width: 428px) {
.tel-mob {
        font-weight: 700;
        font-size: 28px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #4D5AE5;
        text-decoration: none;
    }
    .mail-mob {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 40px;
    text-decoration: none;
}
.mob-icons {
    margin-top: 48px;
    margin-right: 60px;
    display: flex;
    gap: 32px;
    align-items: center;
}
.contacts {
    color: #404BBF;
}
.mob-menu-i {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    list-style: none;
    text-decoration: none;
}
}

@media screen and (max-width: 767px) {

    .contacts {
    color: #404BBF;
}

.first-section {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--background-color); 
    max-width: 320px;
    margin: auto;
    margin-bottom: 72px;
}
.address {
    display: none;
}
.cust-li-icons {
    width: 190px;
}
.begin {
    margin: auto;
    padding-top: 112px;
    padding-bottom: 112px;
}
.second-menu {
    display: block;
    align-items: center;

}

.advantage-icons {
    display: none;
}
.headers-sect-2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-color);
    margin-bottom: 8px;
    text-align: center;
}
.ps-sect-2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.second-menu-item:not(:nth-child(4n)) {
    margin-bottom: 72px;
}
.second-container {
    display: flex;
    align-items: center;
    padding-top: 96px;
    padding-bottom: 96px;
    flex-wrap: wrap;
}
.doing {
    font-size: 0px;
}
.my-photo-2 {
    display: none;
}
.team {
    background-color: var(--light-color);
    padding-top: 96px;
    padding-bottom: 128px;
}
.fourth-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.name-h {
    background: var(--background-color);
    border-radius: 0px 0px 4px 4px;
    width: 264px;
    margin-right: 0;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-h:not(:nth-child(4n)) {
    margin-bottom: 72px;
    margin-right: 0;
}
.team-icons {
    width: 16px;
    height: 16px;
}

.about-icons {
    display: flex;
    gap: 24px;
    margin-top: 8px;
}

.back-team-icons {
    width: 40px;
    height: 40px;
}

.link-about {
    background-color: var(--primary-brand-color);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.doing-2 {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-color);
    margin-bottom: 72px;
}
.fcust {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
}
.customers {
    padding-top: 96px;
    padding-bottom: 96px;
}
.footr {
    background-color: var(--dark-color);
    padding-top: 96px;
    padding-bottom: 96px;
    height: 662px;
}
.soc-media {
    text-align: center;
}
.footer-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-cont {
    display: block;
    margin: auto;
}

.footer-text {
   margin-bottom: 72px;

}
.menu-web {
    display: block;
    text-align: center;
}
.f-mar {
    margin: 0px 0px 16px 0px;
}
.p-footr {
    display: block;
    margin: auto;
}
.footer-soc-med {
    display: block;
    margin-bottom: 72px;
    margin-left: 0px;
}
.footer-sub {
    margin: 0;
}
.footer-form {
    display: block;
    
}
.footer-btn {
    display: block;
    margin: auto;
}
.footer-form-email {
    margin-bottom: 16px;
    width: 100%;
}
.head {
    padding-top: 24px;
    padding-bottom: 24px;
}
.open-icon {
    stroke: black;
}
.open-button {
    background-color: transparent;
    border: none;
    padding: 0;
}
.header-container {
    display: flex;
    justify-content: space-between;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 100;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal {
    scroll-behavior: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 392px;
    min-height: 586px;
max-width: 392px;
width: 100%;
    background-color: var(--modal-back-color);
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
}
}


/* -------------------------- */
@media screen and  (min-width: 768px) {
.container {
    max-width: 768px;
  }

.f-mar {
    margin: 0px 0px 16px 0px;
}
.head {
    height: 72px;
}
.page-nav {
    padding-bottom: 24px;
    padding-top: 24px;
}
.header-2{
    font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #434455;
}
.menu {
    margin-left: 120px;
}
.first-section {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--background-color);
    max-width: 496px;
    margin: auto;
    margin-bottom: 48px;
}
.second-container {
    display: flex;
    align-items: center;
    padding-top: 96px;
    padding-bottom: 96px;
    flex-wrap: wrap;

}

.second-menu {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    align-items: center;
}
.second-menu-item {
    min-width: 356px;
    margin: 0;
}

.ps-sect-2 {
    width: 356px;
    margin-top: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.fourth-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
}
.name-h {
    width: 264px;
}
.name-h:not(:nth-child(4n)) {
    margin-right: 0px;
    margin-bottom: 0;
}
.doing-2 {
    margin-bottom: 72px;
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.footr {
    background-color: var(--dark-color);
    padding-top: 96px;
    padding-bottom: 96px;
}
.footer-cont {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    max-width: 582px;
}
.cust-li-icons {
    width: 168px;
}
.footer-form {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.soc-media {
    text-align: left;
}
.fcust {
    display: flex;
     align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
}
.headers-sect-2 {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--dark-color);
text-align: left;
width: 356px;
}

.begin {
    margin: auto;
    padding-top: 112px;
    padding-bottom: 108px;

}
.open-button{
    display: none;
}
.menu {
    display: flex;
    gap: 40px;
}
.menu-web {
    margin-right: 0px;
    
}
.sect {
    display: none;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.second-menu-item:not(:nth-child(4n)) {
    margin-bottom: 0px;
}
.mail-and-tel {
    display: block;
}

.menu-item, .menu-item1,
.menu-item2, .mail, .tel {
    display: block;
}

.advantage-icons {
    display: none;
}
.doing {
    font-size: 0px;

}
.mob-menu {
    display: none;
}

.my-photo-2 {
    display: none;
}
}

/* --------------------------------------------------------- */
@media screen and  (min-width: 1158px) {
.container {
    max-width: 1158px;
  }
 
.headers-sect-2{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    width: 264px;
    text-align: left;
  }
  .header-2 {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
  }
.web-mob {
    margin: 0;
  }
  .menu-web {
    margin-right: 0;
  }
.second-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.second-menu-item {
    min-width: 264px;
    margin: 0;
}
.second-menu-item:not(:nth-child(4n)) {
    margin-bottom: 0px;
}
.doing {
    
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-color);
    margin-bottom: 72px;

}
.sect {
    display: block;
     padding-bottom: 120px;
 }


.advantage {
    width: 264px;
    height: 112px;
    background-color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 8px;
}
.advantage-icons {
    display: block;
    width: 64px;
    height: 64px;
}
 .sect {
    padding-bottom: 120px;
}

.mob-menu {
    display: none;
}
.ps-sect-2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    width: 264px;
}
.doing-2 {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-color);
    margin-bottom: 72px;

}
.third-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}
.third-menu-item {
    width: calc((100% - 2 * 24px) / 3);
}

.third-menu-item:not(:nth-child(3n)) {
    margin-right: 24px;
}
.address {
    padding: 0;
}
.mail-and-tel {
   margin-top: 0;
   margin-bottom: 0;
   padding-top: 24px;
   padding-bottom: 24px;
}
.menu {
    display: flex;
    align-items: center;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mail {
    margin: 0;
}
.my-photo-2 {
    display: block;
}
.begin {
    margin: auto;
    padding-top: 188px;
    padding-bottom: 188px;
}
.head {
    height: 76px;
}

.page-nav {
    padding-top: 24px;
    padding-bottom: 24px;
}
}
@media screen and (max-width: 428px) {
.image.with-image {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-min.jpg);
        background-position: center;
        background-size: cover;
        height: 423px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .image.with-image {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-2x.jpg);
        }
    }
}
@media screen and (min-width: 428px) and (max-width: 768px) {
.image.with-image {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg.jpg);
        background-position: center;
        background-size: cover;
        height: 436px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .image.with-image {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-pl-2x.jpg);
        }
    }
}
@media screen and (min-width: 768px){
.image.with-image {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-1.jpg);
        background-position: center;
        background-size: cover;
        height: 600px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .image.with-image {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-2x.jpg);
        }
    }
}